.allure h1 {
	font-family: Oxygen, sans-serif;
	font-weight: normal;
	font-size: 3em;
	margin: 0 0 40px;
	padding: 40px 0;
	text-align: center;
	border-bottom: solid 1px #eee;
}

.allure-content {
	width: 60%;
	padding-left: 150px;
	margin: 0 auto;
}

.allure-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	width: 150px;
	background: #333;
	box-shadow: inset -10px 0 10px -5px rgba(0,0,0,0.4);
}

.allure-toc.pure-menu-open {
	background: transparent;
	border: 0;
}
.allure-toc .pure-menu-heading {
	color: #fff;
	border-bottom-color: #444;
}
.allure-toc a {
	box-shadow: inset -10px 0 10px -5px rgba(0,0,0,0.2);
}

.allure-component a {
	color: #226dd0;
	cursor: pointer;
}

.allure-component-heading {
	position: relative;
}

.allure-component-code-toggle {
	position: absolute;
	left: -1.3em;
	top: 0.1em;
	width: 0.95em;
	height: 0.95em;
	border-radius: 50%;
	padding: 0;
}
.allure-component-code-toggle::after,
.allure-component-code-toggle:after {
	content: '+';
	color: #fff;
	position: relative;
	top: -0.25em;
	font-size: 0.9em;
}
.allure-component-toggled .allure-component-code-toggle::after,
.allure-component-toggled .allure-component-code-toggle:after {
	content: '-';
}

.allure-component-code {
	display: none;
	position: relative;
	top: -1em;
	font-size: 0.8em;
}
.allure-component-toggled .allure-component-code {
	display: block;
}
.allure-component-code-label {
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 0.9em;
	opacity: 0.75;
}
.allure-component .allure-component-code-block {
	margin-top: 0;
}